---

---

<footer class="bg-primary mt-[50px] font-open-sans">
  <div
    class="container lg:max-w-custom text-white mb-4 md:pt-[50px] md:mt-[50px] mx-auto grid grid-cols-1 gap-y-5 auto-rows-auto md:grid-cols-3 md:grid-rows-1 font-open-sans md:gap-x-4"
  >
    <div class="container col-span-1">
      <h3 class="uppercase my-5 text-xl font-extrabold text-center">
        Navegación
      </h3>
      <nav class="flex flex-col text-center">
        <a class="mb-2" href="#">Nosotros</a>
        <a class="mb-2" href="#">Propiedades</a>
        <a class="mb-2" href="#">Blog</a>
        <a class="mb-2" href="#">Testimoniales</a>
        <a class="mb-2" href="#">Contacto</a>
      </nav>
    </div>

    <div class="container">
      <h3
        class="uppercase my-5 text-xl font-extrabold md:text-left text-center"
      >
        Nosotros
      </h3>
      <p class="md:text-left text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolore
        quo tempore! Atque porro quibusdam voluptas nisi corrupti. Unde, ipsam
        vel deleniti magnam nulla nemo suscipit sunt porro blanditiis? Nemo.
      </p>
    </div>

    <div class="container text-16 w-1/2 place-self-center md:w-full">
      <img class="" src="/img/logo.svg" alt="imagen logo" />
    </div>
  </div>

  <p class="bg-tertiary h-12 my-auto text-center text-white p-3">
    Todos los Derechos Reservados Real State
  </p>
</footer>
