---

---

<header
  class="bg-header-gradient bg-cover bg-center px-12 relative mx-auto py-[30px] md:pt-[30px] md:pb-[200px]"
>
  <div
    class="flex flex-col max-w-custom items-center mx-auto md:flex-row md:justify-between"
  >
    <div class="header__logo">
      <img
        class="w-[250px] object-cover"
        src="/img/logo.svg"
        alt="Logo"
        class="w-16 h-16 bg-slate-500"
      />
    </div>

    <nav
      class="flex flex-col gap-y-3 md:gap-y-0 md:flex-row mt-[50px] md:mt-0 items-center md:gap-x-3 text-white font-open-sans text-18"
    >
      <a class="" href="#">Nosotros</a>
      <a class="" href="#">Propiedades</a>
      <a class="" href="#">Blog</a>
      <a class="" href="#">Testimoniales</a>
      <a class="" href="#">Contacto</a>
    </nav>
  </div>
  <div class="max-w-custom text-white mx-4 md:mx-auto">
    <div class="container mt-3 md:mt-[100px] md:w-[500px]">
      <h1
        class="text-[44px] text-center font-roboto font-bold leading-tight md:text-left"
      >
        Encuentra tu casa de lujo al mejor precio
      </h1>
      <p class="py-5 text-16 font-open-sans leading-7 hidden md:block">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ea
        pariatur dolores ducimus! Repellendus maiores nemo tempore, cupiditate
        pariatur expedita
      </p>

      <img
        class="absolute w-[350px] lg:w-[650px] rounded-tl-[28px] rounded-bl-[56px] -bottom-[56px] right-0 bg-position-center bg-cover hidden sm:block"
        src="/img/imagenHeader.jpg"
        alt="imagen header"
      />
    </div>
  </div>
</header>
