---

---

<div class="my-8 py-[3px] bg-primary">
  <div
    class="border-y-dashed text-white font-lato text-2xl md:h-16 navegacion__border bg-primary"
  >
    <nav
      class="flex flex-col md:flex-row justify-between max-w-custom mx-auto items-center h-full w-[95%] gap-y-3 md:gap-y-0"
    >
      <a class="" href="#">Inicio</a>
      <a class="" href="#">Inicio</a>
      <a class="" href="#">Nosotros</a>
      <a class="" href="#">Servicios</a>
      <a class="" href="#">Productos</a>
      <a class="" href="#">Contacto</a>
    </nav>
  </div>
</div>

<style>
  .navegacion__border {
    border-block: 2px dashed #fff;
    padding: 1.7rem 0;
  }
</style>
