---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SwiperComponent from "../components/SwiperComponent.astro";
---

<Layout title="Cardina SPA">
  <Header />
  <SwiperComponent />
  <section class="py-[80px]">
    <h1 class="font-italianno text-5xl text-secondary text-center">
      bienvenida(o) a nuestro
      <span class="font-lato text-4xl uppercase text-black block"
        >sitio web</span
      >
    </h1>
    <p
      class="container mt-10 mx-auto text-center max-w-[500px] text-[#979797] font-lato text-[26px]"
    >
      Te sentirás como nueva(o) con nuestros masajistas profesionales
    </p>
  </section>
  <main></main>
</Layout>
